@import "node_modules/bootstrap/scss/bootstrap";

.AppHeader {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background-color: #fafafa;
  border-bottom: 1px solid #d5d5d5;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
}

button:focus {
  outline: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

html {
  font-size: 18px;
}

body {
  background: #eee;
}

a,
a:hover {
  color: #f5aa44;
}

header .learnButtons {
  width: 100%;
  justify-content: flex-end;
}

ul.navigation-shortcuts {
  display: flex;
  flex: 0 1 auto;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    flex: 0 1 auto;
    margin-left: 8px;
    width: auto;
    line-height: 20px;
    display: block;
  }

  li > a {
    align-items: center;
    background: transparent;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: #333;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 0.875rem;
    font-weight: 300;
    justify-content: flex-start;
    line-height: 28px;
    margin: 0;
    padding: 0 14px 0 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    transition: border-color 0.2s, background 0.2s;
  }

  li > a span {
    background: #f5aa44;
    border-radius: 4px 0 0 4px;
    color: #fff;
    display: block;
    float: left;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 32px;
    margin: -2px 12px -2px -2px;
    min-width: 16px;
    padding: 0 8px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  }
}
