@import 'node_modules/bootstrap/scss/bootstrap';

html, body {
    height: 100%;
}

.SignupPage {
    height: 100%;
    padding-top: 20vh;
    
    > form {
        width: 320px;
        margin: auto;
    }
}

.LoginPage {
    height: 100%;
    padding-top: 20vh;
    
    > form {
        width: 320px;
        margin: auto;
    }
}